<form method="post">
    <div style="float: right;margin-right: 10%;">
        <button class="btkep" type="submit" name="task" value="szerk"><img src="res/ico/32/edit.png"/></br>Szerkeszt</button>
        <button class="btkep" type="submit" name="task" value="uj" ><img src="res/ico/32/plusz.png"/></br>Új</button>
        <button class="btkep" type="submit" name="task" value="torol" ><img src="res/ico/32/torol.png"/></br>Töröl</button>
       </div><div style="clear: both; "></div>

    <!--|tabla|-->
</form>