<script LANGUAGE="JavaScript">
    function confirmSubmit()
    {
        var agree=confirm("FIGYELEM! Az ok gombra kattintva az elem végérvényesen törlődik!");
        if (agree)
            return true ;
        else
            return false ;
    }
</script>
<form method="post">
    <div style="width: 100%;position: fixed;top: 15%;" draggable="true">
        <div style="float: right; margin-right: 10%;">
            <!--|ikonsor|-->
        </div>
        <div style="clear: both;" >
        </div>
    </div>
    <div style="margin-top:70px;">
        <!--|hiba|-->
        <!--|tartalom|-->
        <!--|tabla|-->
        <!--|tartalom2|-->
    </div>
    <!--|hidden|-->
</form>