<form method="post">
    <div style="float: right;margin-right: 10%;">
        <button class="btkep" type="submit" name="email" value="email" ><img src="res/ico/32/email.png"/></br>Email</button>
        <button class="btkep" type="submit" name="task" value="torol" ><img src="res/ico/32/torol.png"/></br>Töröl</button>
        <button class="btkep" type="submit" name="task" value="pub" ><img src="res/ico/32/published.png"/></br>Enged</button>
        <button class="btkep" type="submit" name="task"  value="unpub" ><img src="res/ico/32/Unpublished.png"/></br>Tilt</button>
    </div>
    <div style="clear: both; ">
    </div>
    <!--|tabla|-->
</form>