<section class="container">
    <h4><!--#nev--></h4>
    <!--#hiba-->
    <form    method="post" action="#" >
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="text" class="form-control"  placeholder="<!--#nev-->" name="<!--#nev-->" value="<!--#ertek-->" ><!--link-->
                </div>
                <input type="hidden" name="nev" value="<!--#nev-->"/>
                <div class="form-group">
                    <button type="submit" name="task" value="<!--#task-->" class="btn btn-primary btn-lg">Ment</button>
                    <button type="submit" name="task" value="cancel" class="btn btn-primary btn-lg"  >Mégsem</button>
                </div>

            </div>

        </div>
    </form>
</section><!--/.col-sm-8-->