<section class="container">
    <h4></h4>
    <form    method="post" action="#" >
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="lang">Nyelv</label>
                    <input type="text" class="form-control"
                           name="lang" value="<!--#lang-->">
                </div>
                <div class="form-group">
                    <label >Label</label>
                    <input type="text" class="form-control"
                           name="<!--#label-->" value="<!--#label-->" >
                </div>
                <div class="form-group">
                    <label>App</label>
                    <input type="text" class="form-control"
                           name="<!--#app-->" value="<!--#app-->" >
                </div>
                <div class="form-group">
                    <label >Szöveg</label>
                    <textarea name="value" class="form-control" rows="5">
                        <!--#value--></textarea>
                </div>
                <div class="form-group">
                    <label >Verse</label>
                    <input type="text" class="form-control"
                           name="verse" value="<!--#verse-->" >
                </div>
                    <input type="hidden" name="nev" value="<!--#nev-->"/>
                    <div class="form-group">
                        <button type="submit" name="task" value="ment" class="btn btn-primary btn-lg">Ment</button>
                        <button type="submit" name="task" value="cancel" class="btn btn-primary btn-lg"  >Mégsem</button>
                    </div>

                </div>

            </div>
    </form>
</section><!--/.col-sm-8-->