<section class="container">
    <h4></h4>
    <form    method="post" action="#" >
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
      <img src="tmpl/flat/images/hu.png" style="max-width: 50px;"><input type="text" class="form-control" required="required" placeholder="Magyar nyelvű szöveg" name="hu" data="hu" ><!--link-->
                </div>
                <div class="form-group">
                    <img src="tmpl/flat/images/en.png" style="max-width: 50px;">   <input type="text" class="form-control" name="en" placeholder="Angol nyelvű szöveg" data="en" ><!--megjegyzes-->
                </div>
                <input type="hidden" name="mezo" data="nev" />
                <div class="form-group">
                    <button type="submit" name="task" value="ment" class="btn btn-primary btn-lg">Ment</button>
                    <button type="submit" name="task" value="cancel" class="btn btn-primary btn-lg"  >Mégsem</button>
                </div>

            </div>

        </div>
    </form>
</section><!--/.col-sm-8-->