<section class="container">
    <h4></h4>
    <form   method="post" action="#" >
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <img src="tmpl/flat/images/hu.png" style="max-width: 50px;"><textarea name="hu" class="form-control" rows="5" placeholder="" data="leiras"><!--#hu--></textarea>
                </div>
                <div class="form-group">
                    <img src="tmpl/flat/images/en.png" style="max-width: 50px;">   <textarea name="en" class="form-control" rows="5" placeholder="" data="leiras"><!--#en--></textarea>
                </div>
                <input type="hidden" name="mezo" data="nev" />
                <div class="form-group">
                    <button type="submit" name="task" value="ment" class="btn btn-primary btn-lg">Ment</button>
                    <button type="submit" name="task" value="cancel" class="btn btn-primary btn-lg"  >Mégsem</button>
                </div>

            </div>

        </div>
    </form>
</section>