<section class="container">
    <h4></h4>
    <form    method="post" action="#" >
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                     <textarea name="en" class="form-control" rows="5" placeholder="<!--#nev-->" ><!--#ertek--></textarea>
                <input type="hidden" name="nev" value="<!--#nev-->"/>
                <div class="form-group">
                    <button type="submit" name="task" value="<!--#task-->" class="btn btn-primary btn-lg">Ment</button>
                    <button type="submit" name="task" value="cancel" class="btn btn-primary btn-lg"  >Mégsem</button>
                </div>

            </div>

        </div>
    </form>
</section><!--/.col-sm-8-->