<!--task=belep-->
<!--figyelem! legyen benne <input type="hidden" name="itemid" data="id" /> mező -->

<section class="container">
	<h4><!--##login--></h4>
	<!--<h5>hiba</h5>-->
	<form   method="post" >
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group">
					<input type="text" class="form-control" required="required" placeholder="<!--##username-->" name="username" data="username" >
				</div>

				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="<!--##passwd-->" data="password" >
				</div>

				<div class="form-group">
					<input type="hidden" name="mod" value="login" />
					<button type="submit" name="ltask" value="belep" class="btn btn-primary btn-lg"><!--##login--></button>
					<button type="button" name="ltask" value="reg" class="btn btn-primary btn-lg" onclick="window.location='index.php?app=base&mod=login&ltask=reg'" ><!--##reg--></button>
				</div>

			</div>

		</div>
	</form>
</section><!--/.col-sm-8-->