<!--task=belep-->
<!--figyelem! legyen benne <input type="hidden" name="itemid" data="id" /> mező -->

<section class="container">
	<!--	<h4>Üdvözöljük usernev!</h4>-->
	<form   method="post" action="" >
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group">
					<input type="hidden" name="mod" value="login" />
					<button type="submit" name="ltask" value="kilep" class="btn btn-primary btn-lg"><!--##logout--></button>

				</div>

			</div>

		</div>
	</form>
</section><!--/.col-sm-8-->

