
<!--figyelem! legyen benne <input type="hidden" name="itemid" data="id" /> mező

<section class="container">
    <a href="index.php?app=admin.php&fget=login&task=reg&ref=453546" style="color: yellow" >Referencia link</a>
</br></br>-->
    <h4><!--##reg--></h4>
    <!--<h5>hiba</h5>-->
    <!--<h5>ref</h5>-->
    <form    method="post" action="" >
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="text" class="form-control" required="required" placeholder="<!--##username-->" name="username" data="username" >
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" data="email" required="required" >
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="<!--##passwd-->" data="password" required="required" >
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password2" placeholder="<!--##passwd_re-->" data="password2" required="required" >
                </div>
                <div class="form-group">
                    <input type="hidden" name="ref" data="ref" />
                    <input type="hidden" name="mod" value="login" />
                    <button type="submit" name="ltask" value="ment" class="btn btn-primary btn-lg"><!--##reg--></button>
                    <button type="reset" name="ltask" value="mégsem" class="btn btn-primary btn-lg" onclick="window.location='index.php'" ><!--##cancel--></button>
                </div>

            </div>

        </div>
    </form>
</section><!--/.col-sm-8-->










